/* Général */
html {
    font-family: "Meera", sans-serif;
    background-color: lightcyan;
}
body{
    margin:0px;
}
h1 {
    color: lightseagreen;
    text-align:center;
}

p {
    color: lightseagreen;
}

.disabled {
    pointer-events: none;
    cursor: default;
}

input[type="button"],
button {
    margin-top: 20px;
    margin-left: 30px;
    color: lightseagreen;
    padding: 0.25rem;
    border: none;
    border-radius: 0.25rem;
    text-align: center;
    cursor: pointer;
}


nav {
    background: lightseagreen;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: right;
}

li a, .dropbtn {
    display: inline-block;
    color: aquamarine;
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: white;
    border-radius: 10px;
}

li.dropdown {
    display: inline-block;
    border-radius: 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(16, 210, 204);
    border-radius: 10px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
    color: aquamarine;
    padding: 12px 16px;
    display: block;
    text-align: center;
    border-radius: 10px;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.show {
    display: block;
}


nav img {
    max-width: 40px;
    border-radius: 50%;
    cursor: pointer;
}


#icon{
    max-width: 40px;
    max-height: 40px;
}

#hand{
    max-width: 60px;
    max-height: 60px;
}
img:hover {
    transform:scale(1.2);
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(157, 199, 198, 0.35);
    padding: 10px;
    text-align: center;
}