/* Général */
html {
    font-family: "Meera", sans-serif;
    background-color: lightcyan;
}
body{
    margin:0px;
}

h1 {
    color: lightseagreen;
    text-align:center;
}

p {
    color:lightseagreen;
}
img:hover {
    transform:scale(1.2);
}

.disabled {
    pointer-events: none;
    cursor: default;
}

/* Bouton refresh*/
input[type="button"],
button {
    margin: 5px;
    margin-left: 40px;
    background-color: lightseagreen;
    color: aquamarine;
    padding: 0.25rem;
    border: none;
    border-radius: 0.25rem;
    text-align: center;
    cursor: pointer;
}


/* Delete pokemon button*/
.delete_button{
    margin-left: 250px;
    background-color:red;
    text-align: center;
    font-weight: bold;
    color: aquamarine;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

/* Nav bar*/
nav {
    background: lightseagreen;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: right;
}

li a, .dropbtn {
    display: inline-block;
    color: aquamarine;
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: white;
    border-radius: 10px;
}

li.dropdown {
    display: inline-block;
    border-radius: 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(16, 210, 204);
    border-radius: 10px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
    color: aquamarine;
    padding: 12px 16px;
    display: block;
    text-align: center;
    border-radius: 10px;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.show {
    display: block;
}

nav img {
    max-width: 40px;
    border-radius: 50%;
    cursor: pointer;
}

/* Formulaire ajout Pokemon */
#pokemon_form{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: powderblue;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    padding: 5px;
    margin-bottom: 60px;
}

#pokemon_form input,
#pokemon_form button {
    display: block;
    margin: 15px auto;
}

#pokemon_form button {
    background-color: lightseagreen;
    color: aquamarine;
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
}

#pokemon_form button:hover {
    background-color: white;
    color : aquamarine;
}

/* Cartes Pokemon */
#pokemon_container {
    display: flex;
    justify-content: space-evenly;
    columns: 3;
}

.card {
    background-color: rgb(240, 248, 245);
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
    padding: 20px;
    width: 280px;
}

.card_add {
    background-color: powderblue;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
    padding: 20px;
    width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}


#pokemon_picture {
    max-width: 100%;
}


.new-pokemon-image {
    max-width: 60%;
    display: flex;
    justify-content: center;
    border-radius: 8px;
}

#pokemonImage {
    max-width: 100%;

}

/* Footer */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(157, 199, 198, 0.35);
    padding: 10px;
    text-align: center;
}

