/* Général */
html {
    font-family: "Meera", sans-serif;
    background-color: lightcyan;
}
body{
    margin:0px;
}
h1 {
    color: lightseagreen;
    text-align:center;
}

p {
    color: lightseagreen;
}

.disabled {
    pointer-events: none;
    cursor: default;
}

input[type="button"],
button {
    margin-top: 20px;
    margin-left: 30px;
    color: lightseagreen;
    padding: 0.25rem;
    border: none;
    border-radius: 0.25rem;
    text-align: center;
    cursor: pointer;
}

/* Delete photo button */
.delete-button {
    margin-left: 250px;
    margin-bottom: 10px;
    background-color:red;
    text-align: center;
    font-weight: bold;
    color: aquamarine;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

nav {
    background: lightseagreen;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: right;
}

li a, .dropbtn {
    display: inline-block;
    color: aquamarine;
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: white;
    border-radius: 10px;
}

li.dropdown {
    display: inline-block;
    border-radius: 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(16, 210, 204);
    border-radius: 10px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
    color: aquamarine;
    padding: 12px 16px;
    display: block;
    text-align: center;
    border-radius: 10px;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.show {
    display: block;
}


nav img {
    max-width: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.mosaic_button, .column_button {
    margin-bottom: 20px;
    margin-left: 30 px;
    color: lightseagreen;
    padding: 0.25rem;
    border: none;
    border-radius: 0.25rem;
    text-align: center;
    cursor: pointer;
}


/* Galerie*/
#gallery{
    margin: 20px 20px 100px 20px;
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}


img:hover {
    transform:scale(1.2);
}

.mosaic-mode {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 350px;
    gap: 100px;
}

.column-mode {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    max-height: 100%;
    height: 100vh;
}


.gallery-image {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
    box-shadow: 8px 8px 10px 0 rgba(0,0,0,0.5);
    object-fit: cover;
    margin: auto;
}
#icon{
    max-width: 40px;
    max-height: 40px;
}

.added-image {
    max-width: 500px;
    max-height: 500px;
    border-radius: 10px;
    box-shadow: 8px 8px 10px 0 rgba(0,0,0,0.5);
}

.image-title {
    display: flex;
    color: darkblue;
    text-align: center;

}

/* Boîte modale */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: rgb(240, 248, 245);
    color: lightseagreen;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 20%;
    border-radius: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Bannière*/
.slider {
    position: relative;
    width: 100vw;
    max-width: 100%;
    height: 200px;
    margin: auto;
    overflow: hidden;
}

.slide {
    width: 100%;
    height: 400px;
    position: absolute;
    text-align: center;
    -webkit-transition: 0.6s ease;
    transition: 0.6s ease;
    -webkit-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
}

.slide img {
    width: 700px;
    height: 200px;
    /*object-fit: cover; !* Redimensionne l'image pour qu'elle couvre toute la zone sans déformer *!*/
    /*object-position: center; !* Centre l'image dans la zone *!*/
}

.slide.active {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}

.slide.active~.slide {
    -webkit-transform: translate(100%, 0);
    transform: translate(100%, 0);
}


/*button {*/
/*    margin-top: 20px;*/
/*    border: none;*/
/*    border-radius: 0;*/
/*    background: aliceblue;*/
/*    color: #333;*/
/*    padding: 10px;*/
/*    cursor: pointer;*/
/*}*/

/* footer */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(157, 199, 198, 0.35);
    padding: 10px;
    text-align: center;
}